body{
    font-family: 'Roboto',sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-style: normal;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.header-nav-logo {
    color:#4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}
.header-logo-web {  
        color: #2E2F42;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.header-list-item {
        color: #2E2F42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.header-list .header-list-item:hover,
.header-list .header-list-item:focus {
    color: #404BBF;
}

.address {
    font-style: normal;
}
.link {
        color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.address-link .link:hover,
.address-link .link:focus {
    color: #404BBF;
}

.title {
    background-color: #2E2F42;
}

.title-main {
        text-align: center;
        font-size: 56px;   
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: #FFF;
 
}

.button {
            color: #FFF;
            background-color: #4D5AE5;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.04em;
            cursor: pointer;
}

.title .button:hover,
.title .button:focus {
        background-color:  #404BBF;
}
.button .link:active {
        background-color: #404BBF;
}


.features {
    background-color: #FFFFFF;
}

.features-title {
    color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.features-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.team {
    background-color: #F4F4FD;
}

.team-title {
    color: #2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}

.team-list-item {
    background-color: #FFFFFF;
}
.team-photo-item {
    background-color: #FFFFFF;
}

.team-name {
    color: #2E2F42;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.team-text {
        text-align: center;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.portfolio-title {
    color:  #2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}

.portfolio-name {
color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.footer {
    background-color: #2E2F42;;
}

.footer-link {
    color: #4D5AE5;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.footer-link-web {
    color: #F4F4FD;
        font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}

.footer-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
}